.container {
    max-width: 1700px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.mat-drawer-container {
    min-height: 100vh;
    width: 100%;
    background-color: transparent;

    padding-top: 10px;
    padding-bottom: 50px;
}

.toggleBtn {
    margin: 30px;
}
