<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="push">
        <app-side-bar></app-side-bar>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <button
                *ngIf="likedCocktails > 0"
                class="toggleBtn"
                mat-raised-button
                color="primary"
                [matBadge]="likedCocktails"
                matBadgePosition="after"
                matBadgeColor="accent"
                (click)="drawer.toggle()"
            >
                Action
            </button>

            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
